*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
}
.center{
    width:1212px;
    margin: 20px auto;
    .sieries{
        width:1200px;
        height: 774px;
        ul{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            li{
                margin-bottom: 10px;
                position: relative;
                .box{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height:295px;
                    opacity: 0.5;
                    background: #000;
                   
                    transition:all 0.5s;
                }
                img{
                    width: 594px;
                    height: 295px;
                }
                p{
                    margin: 0;
                    padding: 0;
                }
                p:nth-of-type(1){
                    font-size: 22px;
                    color: #333;
                    line-height: 40px;
                    font-weight: 500;
                }
            }
            li:hover .box{
                display: none;
                
            }
            li:hover p{
                color:#fd3434;
                
            }
        }
    }
.major-list{
    display: flex;
    justify-content: space-around;
    height: 545px;
    li{
        width: 293px;
        height: 450px;
        position:relative;
       
        img{
            width: 293px;
            height: 450px;
        }
        .box{
            position: absolute;
            width:293px;
            height: 0;
            top:0;
            opacity: 0.6;
            color:red;
            background: black;
            transition:all 0.5s;
        }
        a{
            .wenzi{
      p:nth-of-type(1){
          margin: 0;
        padding: 10px 0 0;
        font-size: 22px;
        font-weight:bold;
        color: #323232;
      }

      p:nth-of-type(2),p:nth-of-type(3){
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-style: normal;
        color: #323232;
    }
   
}
}
   
   
}
li:hover .box{
    height: 450px;
    background:url(http://www.lyy99.com/Publicxin/yuanye/img/xj.png) no-repeat;
    }
    li:hover a .wenzi p{
        color:#fd3434;
    }
}
}

.pngTitle {
    display: block;
    width: 1180px;
    height: 154px;
    background: url("~@/img/kp_tit.png") center no-repeat;
    margin: 80px  0;
    margin-left:30px;
    text-indent: 1181px;
    overflow: hidden;
    white-space: nowrap;
}
.center{
    margin-bottom:60px;
}