
.x-header{
  display: flex;
  .logo{
    // width:20%;
    flex:1;
    height: 64px;
    float: left;
    background: #181818 !important;
    margin-top: 12px;
    margin-left:20px;
  img{
    width:100%;
    height: auto;
  }
  }
  .search{
      // width:20%;
      flex:1;
      height: 64px;
      float:left;
      margin-left:120px;
      margin:16px 60px 16px 50px;
      input{
        width:80%;
        height:30px;
        border:0;
        outline: none;
        text-indent:10px ;
        border-radius: 5px 0 0 5px;
        float: left;
      }
      span{
        display: block;
        width:20%;
        height: 30px;
        float: left;
        text-align: center;
        line-height: 30px;
        background:#f66;
        color: #fff;
        font-weight: 900;
        border-radius: 0 2px 2px 0;
      }
    
    }
  .x-ul{
    // width:60%;
    flex:2;
    // float: right;
  }
}


