.l-subject{
    background: #001529;
   
}
.x-center,body{
    background: #eee;
}
.pngName {
     display: block;
     width: 1180px;
     height: 154px;
    background: url("~@/img/zp.png") center no-repeat;
     margin: 80px  0;
     margin-left: 90px;
     overflow: hidden;
     white-space: nowrap;
 }
 a {
     color: #8a8a8a;
    text-decoration: none;
 }
 .center{
  
     overflow: hidden;
 }
 .neirong{
     min-height: 300px;
     // height:auto;
     ul {
         display: block;
         width: 1200px;
         margin: 0 auto;
        padding: 0;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        li {
            display: inline;
            float: left;
             width: 290px;
            height: 433px;
             position: relative;
            margin: 30px 5px 0;
          overflow: hidden;
             background:#fff;
             img {
                 display: block;
                float: left;
                width: 290px;
                height: 358px;
               cursor: pointer;
           }
             .png {
                position: absolute;
                top: -358px;
                left: 0;
                 display: block;
                 float: left;
                width: 290px;
                height: 358px;
                 background: url("~@/img/a1.png");
                text-indent: 273px;
                 overflow: hidden;
                white-space: nowrap;
            }
             .span {
                float: left;
                 width: 290px;
                margin-top: 24px;
                 .s1 {
                    color: #595757;
                    font-size: 16px;
                     line-height: 18px;
                 }
                span {
                     display: block;
                     width: 290px;
                     float: left;
                     text-align: center;
                 }
                 .s2 {
                     color: #929293;
                     font-size: 12px;
                     line-height: 24px;
                     margin-top: 7px;
                     border-top: 2px solid #e4e4e4;
                 }
            }
         }
     }
 }


