@import "~@/lib/reset.scss";
.w_newsdetail {
    @include background-color(#fff);
    h1 {
      @include rect(100%, auto);
      @include text-align();
      margin-top: 50px;
      
    }
    h2{
        @include rect(1180px, 118px);
        margin: 0 auto;
        @include background-color(#f3f3f3);
        line-height: 118px;
        text-align: center;
        font-size: 36px;
        color: #3c3c3c;
    }
    ul{
        @include rect(1180px, auto);
        margin:auto ;
        padding: 0 15px;
        li{
            p{
                margin: 15px 0;
                font-size: 16px;
                line-height: 26px;
                text-indent: 32px;
                color: #8a8a8a;
            }
            img{
                @include rect(1150px, auto);
            }
        }
    }
    
}