
a{
    display:block;
}
.awidth{
    width:290px;
    height: 433px;
    img{
        // width:290px;
        // height: 433px;
    }
}
.neirong ul li a img {
    display: block;
    float: left;
    width: 290px;
    height:433px;
}