@import "./lib/reset.scss";
// body {
//   margin: 0;
//   padding: 0;
//   font-family: sans-serif;
//   background: red;
// }

body,html,.App,#root{
  @include rect(100%,100%);
}
.App{
  @include flexbox();
  @include flex-direction(column);
  header{
    @include rect(100%,64px);
    @include background-color(#444);
      ul{
        @include rect(auto,100%);
      
        li{
          float: left;
          a{
            display:block;
            float: left;
            width:80px;
            height: 100%;
            line-height: 64px;
            text-align: center;
            color:#fff;
            text-decoration: none;
            &.active{
              background: #f66;
             
            }
          }
        }
      }
  }
  .container{
    @include flex();
    @include rect(100%,auto);
    @include background-color(#eee);
    @include overflow(hidden);
    .box{
      @include rect(100%,100%);
      @include flexbox();
      @include flex-direction(column);
      .x-content{
        @include flex();
        @include rect(100%,auto);
        @include overflow();
      }
      // footer{
      //   @include rect(100%,64px);
      //   @include line-height(64px);
      //   @include background-color(#f66);
      //   @include text-align();
      //   @include font-size(18px);
      // }
    }
  }
}
#components-layout-demo-fixed ul {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  background:yellow;
  margin: 16px 24px 16px 0;
  float: right;
}